.conta {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

p {
    margin-bottom: 0;
}


.close-btn
{
    background-color: #1565C0;
    border: none;
    color: white;
    width: 40PX;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.show {
    display: block;
      opacity: 1;
      position: absolute;
      background-color: #fff;
      left: 50%;
      top: 10%;
      transform: translate(-50%) scale(1);
      transition: opacity 200ms ease-in-out 100ms,
                  transform 500ms ease-in-out 0ms;
      border-radius: 10px;
      z-index: 10;
    
    }

    .show.active {
        display: none;
        transition: top 0ms ease-in-out 0ms,
          opacity 200ms ease-in-out 0ms,
          transform 200ms ease-in-out 0ms;
      
      }

